# Bun
bun.lockb

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite
dist/
.cache/
.vite/
vite.config.*
*.local

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp
